:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --third-light: #a8b5ac;
  --third-dark: #4f5552;
  --primary-main: #f3f1f1;
  --add-color: #809687;
  --cancel-color: rgb(238, 112, 59);
  --add-hover-color: #a8b5ac;
  --cancel-hover-color: orange;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.dropdown-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown-btn {
  padding: 10px 20px;
  cursor: pointer;
}

/* Add the dropdown button arrow */
.dropdown-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  transform: translateY(-50%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Add the visible class */
.dropdown-content.visible {
  display: block;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  width: 100%;
  flex-shrink: 0;
}

/* Set a fixed size for images and ensure they cover the container */
.carousel-slide img {
  width: 100%;
  height: 400px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensure images cover the container without distortion */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-dots {
  text-align: center;
  padding: 10px;
}

.carousel-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background-color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.fa-github {
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
